@page "/Hennu"
@rendermode RenderMode.InteractiveWebAssembly

<h3>Hennu</h3>
<MudContainer>
    <MudText Typo="Typo.h3">Empowering Women with Hennu</MudText>
    <MudText Typo="Typo.h5">A Platform Dedicated to Women's Empowerment in India</MudText>
    <MudText>
        Hennu is a platform dedicated to empowering women in India. We believe in the power of women to make a difference in their communities and the world. Our mission is to provide resources, support, and inspiration to help women achieve their full potential.
    </MudText>

    <!-- More details about Hennu -->
    <MudText>
        Women empowerment in India is dependent up to a great extent on numerous different variables that encompass geographical setting (urban/rural), social status (caste and class), educational status, and age factor. Actions on the women empowerment exist at the state, local (panchayat), and national levels.
    </MudText>

</MudContainer>

<MudLink Href="/holige" Color="Color.Primary"><MudText Typo="Typo.h3">Example 1: Holige</MudText></MudLink>
<Holige />
@code {

}
