@if (!string.IsNullOrEmpty(ImageUrl))
    {
    @* <MudImage Src="@ImageUrl" Alt="" Elevation="25" Class="rounded-lg ma-4"/> *@
    <div class="d-flex justify-center">
        <MudImage ObjectFit="@ObjectFit.Cover" Height=@Height Width=@Width Src="@ImageUrl" Alt="@AltText" Elevation="25" Class="rounded-lg" />
    </div>
    }
@code {
    [Parameter]
    public required string ImageUrl { get; set; }
    // https://static.india.com/wp-content/uploads/2024/04/MixCollage-09-Apr-2024-11-47-AM-9532.jpg?impolicy=Medium_Widthonly&w=710
    // https://static.india.com/wp-content/uploads/2024/04/MixCollage-09-Apr-2024-11-47-AM-9532.jpg?impolicy=Medium_Widthonly&w=10
    // https://static.india.com/wp-content/uploads/2024/04/MixCollage-09-Apr-2024-11-47-AM-9532.jpg

    [Parameter]
    public int Height { get; set; } = 250;

    [Parameter]
    public int Width { get; set; } = 350;//332

    [Parameter]
    public string AltText { get; set; } = "";

    private async Task<bool> IsImageValid(string? url)
        {
        if (string.IsNullOrEmpty(url))
            {
            return false;
            }

        using var httpClient = new HttpClient();
        // using var response = await httpClient.SendAsync(HttpMethod.Head, url);
        // return response.IsSuccessStatusCode && response.Content.Headers.ContentType.MediaType.StartsWith("image/");
        return true;
        }


}
