@page "/bittertruth"
@* @inject ICommonService commonService *@
<h3> Some Bitter Truths about the Indian Voting System & Members of Parliament's(MP)</h3>

<MudContainer>
    <MudText Typo="Typo.h6">0.Each Politician says Opposition Parties are Corrupt & Have Proof (Pendrive,Diary...)</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        <MudAlert>Since They have power & contacts then why they dont Release & make arrest of corrupt.</MudAlert>
        <MudListItem>Answer is simple, They are ready to do anything ONLY for their family not for anyone else.</MudListItem>
        <MudListItem>If necessary they will call Corrupt as God or God as Corrupt. Just like God-Dog interchangebly.</MudListItem>
        <MudListItem>Most of politicians dont have any principle at all & dont bother about Party or followers. They just want Power & Money.</MudListItem>
        <MudListItem>In lof factors Prostitutes are lot better than few Politicians & Administrators.!!! Because atleast they are truthful to their words!!!</MudListItem>
    </MudList>

    <MudText Typo="Typo.h5">1.Corruption of Candidates & ECI silence</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        @*  <MudListSubheader>Corruption of Candidates & ECI silence.</MudListSubheader> *@
        <MudListItem>There are many corrupt who compete in election & Win. Regarding this all know but no one raises question.</MudListItem>
        <MudListItem>When asked they brilliantly say raise a complaint & ECI will investigate & fix confidentially. Actually this confidentiality is a real brilliant trap to hide the details get leaked to public. Instead ECI team & administrators only guide candidates to how they can safeguard there loop holes.</MudListItem>
        <MudListItem InitiallyExpanded="true" Dense="true">
            <NestedList>
                <MudListItem>We complained once then they said ,its too late. You should have filed before election.</MudListItem>
                <MudListItem>Then We raised before another election then they said Please wait with patience. Then election become over.</MudListItem>
                <MudListItem>This has been reported to DC, Speaker & all but no-one interfere. Instead they are asking us to file the case in Court,</MudListItem>
            </NestedList>
        </MudListItem>
        <MudAlert>If so,then what is the necessity of ECI & people reporting issue option all, Is that just a formality drama?</MudAlert>
    </MudList>

    <MudText Typo="Typo.h5">2.Criminalization of Politics</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        <MudListItem>Shockingly, 40% of Lok Sabha (LS) & 23% of Rajya Sabha (RS) MPs have a criminal background1. This alarming statistic highlights the infiltration of criminal elements into our political system.</MudListItem>
        <MudListItem>The influence of money & muscle power still sways election outcomes, compromising the purity of the democratic process.</MudListItem>
    </MudList>

    <MudText Typo="Typo.h5">3.Low Electoral Participation</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        <MudListItem>Despite being the world’s largest democracy, India faces a challenge with low electoral participation. In the 16th Lok Sabha elections, voter turnout was only 66%.</MudListItem>
        <MudListItem>Encouraging more citizens to exercise their right to vote is crucial for a robust democracy.</MudListItem>
    </MudList>


    <MudText Typo="Typo.h5">4.Underrepresentation of Women</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        <MudListItem>Women constitute a mere 11.3% of the 16th Lok Sabha1. This gender disparity underscores the need for greater female representation in our legislative bodies.</MudListItem>
        <MudListItem>Empowering women in politics is essential for a balanced & inclusive democracy.</MudListItem>
    </MudList>


    <MudText Typo="Typo.h5">5.Abuse of Parliamentary Majority</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        <MudListItem>The current government has been accused of undermining parliamentary democracy by targeting opposition parties & critical MPs. Many face harassment & criminal investigations by central government agencies.</MudListItem>
        <MudListItem>A healthy democracy thrives on constructive debate & dissent, which should be protected.</MudListItem>
    </MudList>


    <MudText Typo="Typo.h5">6.First-Past-the-Post System</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        <MudListItem>India’s electoral system favors the largest parties. For instance, the BJP & its allies hold 63% of the parliamentary seats despite securing only 45% of the vote share.</MudListItem>
        <MudListItem>Some argue that a proportional representation system could provide a fairer reflection of voters’ preferences.</MudListItem>
    </MudList>

    <MudText Typo="Typo.h5">7.Corruption Rate Cards</MudText>
    @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
    <MudList Dense="true">
        <MudListItem>Will be adding soon.</MudListItem>
    </MudList>

    <MudList Dense="true">
        <MudListItem>Work Is Worship</MudListItem>
        <MudListItem>कर्मण्येवाधिकारस्ते मा फलेषु कदाचन</MudListItem>
        <MudListItem>ನಿನಗೆ ನಿಯೋಜಿತ ಕರ್ತವ್ಯ ಮಾಡುವುದಷ್ಟೇ ಅಧಿಕಾರ . ಆದರೆ ಕರ್ಮಫಲಕ್ಕೆ ಅಧಿಕಾರವಿಲ್ಲ.</MudListItem>
    </MudList>

    <MudAlert> But Politicians want only Result of Money & Power without any work.</MudAlert>

</MudContainer>

@code {

}