@page "/facts"
<h3> Some interesting facts about India's Election System</h3>
<MudContainer>
    <MudPaper Elevation="2">
        <MudText>1.Scale of Democracy</MudText>
        <MudList Dense=true>
            <MudListItem>India’s elections for the lower house of parliament, the Lok Sabha, are the largest democratic exercise in the world. With a population of approximately 1.3 billion, around 875 million eligible voters participate in this monumental event.
            </MudListItem>
            <MudListItem>
                The sheer logistics involved in organizing this massive vote, spanning from rural villages to bustling megacities, is awe-inspiring.
            </MudListItem>
        </MudList>

        <MudText>2.Polling Stations & Electronic Voting Machines</MudText>
        <MudList Dense=true>
            <MudListItem>
                Voters can cast their ballots at an estimated 1 million polling stations across the country. The Election Commission has invested heavily in electronic voting machines to ensure transparency & prevent electoral fraud.
            </MudListItem>
            <MudListItem>
                These machines play a crucial role in maintaining the integrity of the electoral process.
            </MudListItem>
        </MudList>

        <MudText>3.The Army of Election Officials</MudText>
        @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
        <MudList Dense=true>
            <MudListItem>
                An impressive army of 10 million national, state, & local officials works tirelessly to ensure free & fair elections. To put this in perspective, that’s as many people as the combined workforce of the US & Chinese militaries, Walmart, & McDonald’s.
            </MudListItem>
        </MudList>

        <MudText>4.Geographical Constituencies & MPs</MudText>
        @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
        <MudList Dense=true>
            <MudListItem>India is divided into 543 geographical constituencies, each represented by a single MP.
            </MudListItem>
            <MudListItem>Voters do not directly elect the prime minister; instead, the leader of the party or coalition with the most MPs usually assumes the role. Additionally, two additional MPs may be appointed from the Anglo-Indian community if they are not otherwise represented
            </MudListItem>
        </MudList>

        <MudText>5.Diverse Candidates</MudText>
        @* <MudText Typo="subtitle2">Subtitle (Optional)</MudText> *@
        <MudList Dense=true>
            <MudListItem>In the last elections (2014), a whopping 8,251 candidates contested, representing a rich diversity of political opinions, religious backgrounds, & ethnicities.
            </MudListItem>
            <MudListItem>These candidates often mirror India’s traditional caste system, reflecting historical imbalances & providing fodder for lively political debates.
            </MudListItem>
        </MudList>


    </MudPaper>
</MudContainer>

@code {

}
