@page "/whatisthisproject"

<h2>What Is this Project?</h2>
<MudContainer>
    <MudPaper Elevation="2">
        <MudText Typo="Typo.h4">Problem</MudText>
        <MudText>
            Vote should be targetted on local Member of Parliament (MP) candidate. But now a days its focusing on his Family, Caste, Religion, Party or Prime Ministerial candidate. However, it's the local MP who plays a crucial role in bringing about change & development in their constituency. Therefore, it's essential for voters to make an informed decision based on the work done by their local MP. How to measure the work done?
        </MudText>

        <MudText Typo="Typo.h4">Solution</MudText>
        <MudText>Our project/website aims to bridge this information gap by collecting feedback from each user about the work done by their local MP & showcasing transparently it to the public with out sharing user details anywhere with safety concern.</MudText>

        <MudText Typo="Typo.h4">How It Works</MudText>
        <MudList Dense="true">
            <MudListItem>Check your Constituency details with Name</MudListItem>
            <MudListItem>Collect FeedBack: Click on "Add Vote" & Fill the feedback with each KPI Rating of work done & specific message.</MudListItem>
            <MudListItem>Support Others Messages:Also Users can Support others Messages which helps in highlighting of the topic.</MudListItem>
            <MudListItem>Data Analysis: The feedback collected is analyzed & presented in an easy-to-understand format.</MudListItem>
            <MudListItem>Public Display: The analyzed data is displayed publicly on the website. This allows anyone to view the performance of each MP based on the feedback from their constituents.</MudListItem>
            <MudListItem>Even after election these data makes an important role in focusing the next works to be done.</MudListItem>
        </MudList>

        <MudText Typo="Typo.h4">Election Expenditure</MudText>
        <MudList Dense="true">
            <MudListItem>The Election Commission of India has set the expenditure limit for candidates for Lok Sabha constituencies to Rs 70 lakh-Rs 95 lakh, & for Assembly seats, the limit stands at Rs 28 lakh- Rs 40 lakh. However, the actual expenditure during elections is much higher. For instance, during the 2019 Lok Sabha Elections, an estimated Rs 60,000 Crores were spent. This includes the expenses incurred by the Election Commission, the expenses by the political parties, & the expenses by the candidates themselves.</MudListItem>
            <MudListItem>
                So on Constituency its matter of nearly 100-150 crore average for electing one MP candidate (MLA-30Crore). By knowing all this things also many candidates competing at 2 places(for their Safety & Prestige) or even state MLA competing again on MP election,if won then again re-Election for MLA, tragedy wont stop here, again in upcoming election for MP or Party jumping is additional bonus.
            </MudListItem>
        </MudList>

        <MudText Typo="Typo.h4">How does Candidate spend so much Money & why?</MudText>
        <MudList Dense="true">
            <MudListItem>Answer for Why is simple, they will get in return multiplied by atleast 10 times.</MudListItem>
            <MudListItem>How: Let me explain with an simple example as below,</MudListItem>
            <MudListItem><small>There is an MP/MLA, people visit their house for constucting a temple/church/masjid or community hall, for that they will give 10 lakhs Rupees from his pocket, so obviously he become God for them, eventually in return they get full vote support but on the opposite side he will get minimum 1 crore project-commission,still its known to all but they call as Great human,Sevak so & so...</small></MudListItem>
            <MudAlert>That other project can be Road,Hospital,School,Water supply, now thats gone & cant ask anything because i.e Temple/Church/Masjid &isin; result is thousands of people will be suffering/dyieng definitely.</MudAlert>
        </MudList>

        <MudText Typo="Typo.h4">Nation Loss</MudText>
        <MudText>The total nation loss due to elections is difficult to quantify. However, it's important to note that a significant amount of resources are spent during elections, which could have been utilized for other developmental activities. Moreover, about 1,406 parties - 91% of those that have contested the general elections - have never won a single seat. Together they have fielded 9,809 candidates so far - all lost. This indicates a significant wastage of resources.</MudText>

        <MudText Typo="Typo.h4">Conclusion</MudText>
        <MudText>By focusing on the local MP's work & its impact on the constituency, we can ensure that the voters' voice is heard & that the elected MPs are held accountable for their performance. Our website serves as a platform for this necessary change.</MudText>

        <MudText Typo="Typo.h4">Remember</MudText>
        <MudText>Every vote counts, & so does your feedback! Let's work together to bring about a positive change in our constituencies.</MudText>
    </MudPaper>
</MudContainer>
<MudText>For any issue, data or correction please write to us email <ContactEmail /> </MudText>